.altNav {
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.1);
}

.navbar {
  background-color: white;
  padding: 25px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;

  .navbar-toggler {
    border: none;
  }

  .fa-brands {
    align-items: center;
    background-color: #2d26a2;
    border-radius: 7px;
    color: white;
    display: flex;
    font-size: 16px;
    height: 36px;
    justify-content: center;
    width: 36px;
  }

  .social-icons-wrapper {
    align-items: center;
    display: flex;
    gap: 18px;
    justify-content: flex-start;
    margin-top: 25px;
  }

  hr {
    border-bottom: 1px solid #2d26a2;
    margin: 25px 0;
    opacity: 1;
  }

  .nav-link {
    color: #2d26a2;
    font-family: "FuturaBook";
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
  }
}

.navbar .copyright-text {
  color: #2d26a2;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  text-align: left;
}

.navbar-collapse {
  box-sizing: border-box;
}

.navbar-collapse.collapsing {
  background-color: white;
  display: flex;
  flex-direction: column;
  height: calc(100dvh - 92px);
  justify-content: space-between;
  left: 0;
  padding: 32px;
  position: fixed;
  top: 90px;
  width: 100%;
  width: 100%;
  z-index: 1000;
}

.navbar-collapse.show {
  background-color: white;
  display: flex;
  flex-direction: column;
  height: calc(100dvh - 92px);
  justify-content: space-between;
  left: 0;
  padding: 32px;
  position: fixed;
  top: 90px;
  width: 100%;
  width: 100%;
  z-index: 1000;
}

.navbar-collapse hr {
  border-bottom: 1px solid rgba(75, 63, 255, 0.3);
  margin: 32px 0;
}

.navbar-nav {
  width: 100%;
}

.hero {
  align-items: center;
  background-image: url("../images/hero-movil.jpg");
  background-position: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  margin-top: 90px;
  height: 100dvh;
  padding: 70px 0 100px 0;

  .btn-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
  }

  .play {
    align-items: center;
    border-radius: 100px;
    color:#1E285F;
    display: flex;
    font-size: 22px;
    height: 66px;
    justify-content: center;
    width: 66px;
  }

  .title {
    color: white;
    font-family: "FuturaBold";
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    margin-bottom: 45px;
  }

  .text {
    color: white;
    font-family: "FuturaBook";
    font-size: 14px;
    margin: 15px 0 45px 0;
    text-align: center;
  }

  .side {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .row {
    row-gap: 120px;
  }

  .btn-white {
    color:#1E285F;
  }
}

.faqs {
  background-color: white;
  padding: 70px 0 44px 0;

  .text {
    font-family: "FuturaBook";
    margin: 8px 0 78px 0;
  }

  .accordion-item {
    background-color: white;
    border: none;
    border-top: 1px solid #d4d2e3;
    padding: 32px 0 56px 0;
  }

  .accordion-button {
    color: #5d5a88;
    font-family: "FuturaDemi";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    gap: 10px;
    z-index: 0;
  }

  .accordion-button:not(.collapsed) {
    background-color: white;
    box-shadow: none;
    color: #5d5a88;
  }

  .accordion-body p {
    color: #9795b5;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    text-align: left;
  }

  .accordion-body li {
    color: #9795b5;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    text-align: left;
  }

  .accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25' fill='none'%3E%3Cg clip-path='url(%23clip0_116_1567)'%3E%3Cpath d='M25.6023 12.2588H0.146484' stroke='%238D8BA7' stroke-width='1.26316' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_116_1567'%3E%3Crect width='24' height='24' fill='white' transform='translate(0.874512 0.258789)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  }

  .accordion-button::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='27' viewBox='0 0 26 27' fill='none'%3E%3Cpath d='M0.874512 13.2588H24.8745' stroke='%238D8BA7' stroke-width='1.68421' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12.8745 1.25879L12.8745 25.2588' stroke='%238D8BA7' stroke-width='1.68421' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  }

  .accordion-button {
    display: flex;
    justify-content: space-between;
  }
}

.acerca {
  background-color: white;
  padding: 44px 0 80px 0;

  .sub-subtitle {
    color: #5d5a88;
    font-size: 23.589px;
    font-style: normal;
    font-weight: 700;
    margin-top: 24px;
    text-align: center;
  }

  .position-text {
    color: #8d8ba7;
    font-family: "FuturaBook";
    font-size: 16.849px;
    font-style: normal;
    font-weight: 500;
    margin: 8px 0 24px 0;
    text-align: center;
  }

  .fa-brands {
    align-items: center;
    background-color: #f2f1fa;
    border-radius: 7px;
    color: #8d8ba7;
    display: flex;
    font-size: 16px;
    height: 36px;
    justify-content: center;
    width: 36px;
  }

  .social-icons-wrapper {
    align-items: center;
    display: flex;
    gap: 18px;
    justify-content: center;
  }

  .text {
    margin: 16px 0 36px 0;
  }

  .row {
    row-gap: 3rem;
  }

  .image-wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
  }
}

.acerca img {
  width: 100%;
}

.acerca .doctor-wrapper {
  position: relative;
}

.acerca .doctor-wrapper .shadow {
  display: none;
}

.acerca .shadow {
  height: 100%;
  opacity: 0;
  position: absolute;
  transition: 0.7s all ease;
  width: 100%;
}

.acerca .shadow:hover {
  opacity: 1;
}

.acerca .shadow-text-wrapper {
  align-items: center;
  background-color: rgb(0 0 0 / 70%);;
  border-radius: 16.849px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  position: relative;
  width: 100%;
}

.acerca .shadow-text-wrapper img {
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}

.acerca .shadow-text {
  color: white;
  font-family: "FuturaDemi";
  font-size: 28px;
  font-style: normal;
  z-index: 1;
}

.modal {
  padding: 0;

  .modal-dialog {
    display: grid;
    height: 100%;
    margin: 0;
    max-height: 100%;
    max-width: 100%;
    padding: 0;
    width: 100%;
  }

  .modal-content {
    height: 100%;
    width: 100%;
  }

  .modal-body {
    align-items: center;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    padding: 3rem 1rem;
  }

  .photo-wrapper-general {
    width: 100%;
  }

  

  .info-wrapper {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-start;
  }

  li {
    color: #818181;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    text-align: left;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 6px;
    max-width: 577px;
  }

  .social-icons-wrapper {
    margin-top: 80px;
  }
}

.modal .btn-secondary {
  background-color: #f2f1fa;
  border:none;
  border-radius: 100px;
  color: #8d8ba7;
  max-width: 100%;
  min-width: 100px;
  padding: 7px 25px;
}

.modal .only-desktop {
  background-color: transparent;
  border: none;
  color: #4d73fb;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 21px;
} 

.modal .sub-subtitle {
  margin: 0 0 0 0;
}

.modal .position-text {
  margin: 0 0 16px 0;
  text-align: left;
}

.modal .acerca .position-text {
  text-align: left;
}

.servicios {
  background-color: white;
  padding: 80px 0 59px 0;

  .text {
    margin: 16px 0 32px 0;
  }

  .sub-subtitle {
    color: #9795b5;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 32px;
    text-align: center;
    text-align: center;
  }

  .row {
    row-gap: 16px;
  }

  .row .col-6 {
    padding: 0 8px;
  }

  .card-servicios {
    align-items: center;
    border: 1px solid #d4d2e3;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: 100%;
    justify-content: center;
    padding: 37.5px;
    position: relative;
    text-align: center;
  }

  .btn-blue {
    margin: auto;
    margin: 32px 0 82.78px;
    min-width: 250px;
  }

  .card-servicios-title {
    color: #5d5a88;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    text-align: center;
  }
}

.servicios .shadow {
  align-items: center;
  background-color: #1c3295;
  border-radius: 24px;
  display: none;
  flex-direction: column;
  gap: 15px;
  height: 100%;
  justify-content: center;
  opacity: 0;
  padding: 77px 15px;
  position: absolute;
  transition: 0.7s all ease;
  width: 100%;
}

.servicios .shadow:hover {
  opacity: 1;
}

.servicios .card-subtitle {
  color: white;
  font-family: "FuturaDemi";
  font-size: 16px;
  font-style: normal;
}

.servicios .card-text {
  color: white;
  font-family: "FuturaLight";
  font-size: 12px;
  font-style: normal;
}

.servicios  .shadow img {
  left: 50%;
  opacity: .5;
  position: absolute;
  transform: translateX(-50%);
}

.otros-servicios {
  background-color: rgba(134, 161, 252, 0.7);
  padding: 54px 0 104px 0;
}

.otros-servicios .subtitle {
  color: #393c5e;
  margin-bottom: 64px;
  text-align: left;
}

.otros-servicios .otros-servicios-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.otros-servicios img {
  height: 20px;
  width: 20px;
}

.otros-servicios .otro-servicio-wrapper {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: flex-start;
}

.otros-servicios .text {
  color: #393c5e;
  margin-bottom: 0;
  text-align: left;
}

.contacto {
  background-color: white;
  padding: 60px 0 82px 0;

  .bold {
    color: #8d8ba7;
    font-family: "FuturaDemi";
  }

  .info-wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .side {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .text-wrapper {
    align-items: center;
    display: flex;
    gap: 6px;
    justify-content: center;
    margin: 25px 0;
  }

  .text {
    margin-bottom: 0;
    text-decoration: none !important;
  }

  .sucursal-wrapper {
    align-items: center;
    display: flex;
    /* margin-bottom: 30px; */
    display: none;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
  }

  .wrapper {
    align-items: flex-start;
    display: flex;
    gap: 6px;
  }

  .select-address {
    background-color: white;
    border: 1px solid #0000001a;
    border-radius: 8px;
    color: #2d26a2;
    font-family: "FuturaBook";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 30px;
    padding: 8px 16px;
    transition: 0.5s all ease;
  }

  .select-address:hover {
    background-color: #f5f4fb;
  }

  .select-address:focus-visible {
    background-color: #f5f4fb;
  }
}

.contacto .map-wrapper img {
  width: 100%;
}

.contacto .map-wrapper img {
  display: none;
}

.contacto select.select-address:focus-visible {
  outline: none !important;
}

.contacto select.select-address {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url("../images/arrow-select.svg") no-repeat right center / 15px
    15px;
  background-position: calc(100% - 16px) center;
  padding-right: 16px;
  transition: 0.5s all ease;
}

.contacto select.select-address {
  background: url("../images/arrow-select.svg") no-repeat right center / 15px
    15px;
  background-position: calc(100% - 16px) center;
  padding-right: 16px;
  transition: 0.5s all ease;
}

.contacto select.select-address.focus-visible {
  background: url("../images/arrow-select-hover.svg") no-repeat right center /
    15px 15px;
  background-position: calc(100% - 16px) center;
  padding-right: 16px;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .select-address::-ms-expand {
    border: none !important;
    color: #2d26a2;
    font-family: "FuturaBook";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
  }
}

.contacto .text {
  text-decoration: none !important;
}

.footer {
  background-color: #1c3295;
  padding: 45.98px 0;

  .logo-wrapper {
    text-align: center;
  }

  .logo {
    margin-bottom: 45px;
    width: 60%;
  }

  .contact-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
  }

  .wrapper {
    display: flex;
    flex-direction: row;
    gap: 8px;
  }

  .text {
    color: white;
    margin: 0;
  }

  .fa-brands {
    align-items: center;
    background-color: white;
    border-radius: 7px;
    color: #1c3295;
    display: flex;
    font-size: 16px;
    height: 36px;
    justify-content: center;
    width: 36px;
  }

  .social-icons-wrapper {
    align-items: center;
    display: flex;
    gap: 18px;
    justify-content: center;
    margin-top: 25px;
  }

  hr {
    border-bottom: 1px solid white;
    margin: 25px 0;
    opacity: 1;
  }
}

.footer .copyright-text {
  color: white;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
}

.alert {
  border: none;
  border-radius: unset;
  box-shadow: 10px 15px 30px gray;
  display: none;
  font-family: "Futura-Regular";
  font-size: 1.8em;
  left: 50%;
  margin: 0;
  max-width: 50vw;
  padding: 1em 1.5em;
  position: fixed;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 99999;
}

.alert.error {
  background-color: red;
  color: white;
}

.alert.success {
  background-color: rgb(93, 90, 136);
  color: white;
}

.d-none {
  display: none!important;
}

.jOcigp {
  color:black!important
}