@media (min-width: 991.98px) {
  .altNav {
    box-shadow: none;
  }

  .only-desktop {
    display: block;
  }

  .only-mobile {
    display: none;
  }

  .text {
    font-size: 18px;
  }

  .subtitle {
    font-size: 36px;
  }

  .btn-white {
    padding: 24px 36px;
    font-size: 18px;
  }

  .btn-purple {
    text-align: center;
    font-size: 24px;
  }

  .btn-blue {
    padding: 18px 24px;
    font-size: 16px;
  }

  .navbar .text-wrapper {
    display: none;
  }

  .navbar-nav {
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
  }

  .navbar .nav-link {
    font-size: 18px;
    font-style: normal;
    color: #1c3295;
  }

  .navbar.only-desktop {
    background-color: white;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.1);
  }

  .hero .text-side {
    align-items: flex-start;
  }

  .hero .title {
    text-align: left;
    font-size: 46px;
  }

  .hero .text {
    text-align: left;
    font-size: 18px;
  }

  .hero .btn-white {
    min-width: 261px;
    border-radius: 100px;
  }

  .hero .btn-wrapper {
    display: flex;
    gap: 20px;
    flex-direction: row;
  }

  .hero .play {
    width: 75px !important;
    min-width: 0 !important;
    padding: 0;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
  }

  .faqs {
    padding: 80px 0 65px 0;
  }

  .faqs .text {
    max-width: 717px;
    margin: 16px auto 56px auto;
  }

  .faqs .accordion-button {
    font-size: 28px;
  }

  .faqs .accordion-body p {
    max-width: 753.402px;
    font-size: 18px;
  }

  .faqs .btn-purple {
    width: 100%;
    justify-content: center;
    margin-top: 55px;
    font-size: 16px;
    border-radius: 100px;
  }

  .acerca {
    padding: 65px 0;
  }

  .acerca .text {
    max-width: 717px;
    margin: 16px auto 60px auto;
  }

  .acerca .sub-subtitle {
    text-align: left;
    font-size: 23.589px;
  }

  .acerca .position-text {
    text-align: left;
    font-size: 16.849px;
    margin: 6px 0 26px 0;
  }

  .acerca .social-icons-wrapper {
    justify-content: flex-start;
  }

  .servicios {
    padding: 65px 0 130px 0;
  }

  .servicios .text {
    max-width: 717px;
    margin: 16px auto 47px auto;
  }

  .servicios .sub-subtitle {
    font-size: 20px;
    margin-bottom: 47px;
  }

  .servicios .card-servicios {
    min-height: 260px;
    gap: 30px;
  }

  .servicios .card-servicios-title {
    font-size: 28px;
  }

  .otros-servicios {
    padding: 120px 0;
  }

  .otros-servicios .large-text {
    max-width: 190px;
  }

  .otros-servicios .subtitle {
    text-align: center;
  }

  .otros-servicios .otros-servicios-wrapper {
    display: flex;
    row-gap: 24px;
    column-gap: 0;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .otros-servicios .text {
    font-size: 19px;
  }

  .otros-servicios .otro-servicio-wrapper {
    gap: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    width: 25%;
    padding-right: 15px;
  }

  .contacto {
    padding: 140px 0;
  }

  .contacto .info-wrapper {
    flex-direction: row;
  }

  .contacto .side {
    flex: 1;
  }

  .contacto .text,
  .contacto .subtitle {
    text-align: left;
  }

  .contacto .text-wrapper {
    justify-content: flex-start;
  }

  .contacto .only-desktop {
    display: flex;
    row-gap: 41px;
    column-gap: 40px;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .contacto .sucursal-wrapper {
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
  }

  .contacto .text {
    font-size: 16px;
  }

  .select-address {
    font-size: 18px;
    width: 320px;
  }

  .footer {
    padding: 60px 0;
  }

  .footer .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .footer .contact-wrapper {
    flex-direction: row;
    gap: 70px;
    justify-content: space-between;
  }
  .footer .logo-wrapper {
    text-align: left;
  }

  .footer .logo {
    margin-bottom: 35px;
  }

  .footer .copyright-text {
    text-align: right;
    margin-bottom: 0;
  }

  .modal .modal-body {
    flex-direction: row;
    align-items: flex-start;
  }

  .modal .photo-wrapper {
    max-height: 700px;
    max-width: 500px;
  }

  .modal .photo-wrapper-general {
    width: 30%;
    height: 100%;
    display: flex;
    max-width: 500px;
    align-items: center;
  }

  .modal .info-wrapper {
    justify-content: center;
    max-width: 700px;
  }

  .servicios .card-subtitle {
    font-size: 28px;
  }

  .servicios .card-text {
    font-size: 16px;
  }

  .servicios .shadow{
    display: flex;
  }
}
