body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
button,
a {
  font-family: "DM Sans", sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.btn-white {
  padding: 18px 24px;
  align-items: center;
  display: flex;
  gap: 8px;
  background-color: white;
  color: #5d5a88;
  border-radius: 30px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  border: none;
}

.btn-purple {
  padding: 24px;
  align-items: center;
  display: flex;
  gap: 10px;
  color: white;
  border-radius: 16px;
  background: #6f65ff;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  border: none;
  text-align: left;
}

.btn-blue {
  padding: 18px 24px;
  color: white;
  border-radius: 30px;
  background: #4b3fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  border: none;
  text-align: center;
}

.container {
  padding: 0 25px;
}

button:focus {
  outline: none !important;
  box-shadow: none !important;
}

.subtitle {
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  color: #5d5a88;
  text-align: center;
}

.text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  color: #5d5a88;
  text-align: center;
}

.only-desktop {
  display: none;
}

.only-mobile {
  display: block;
}

@media (min-width: 991.98px) {

}
